
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  height: 370px;
}

.swiper-desc {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background: #F9F9F9;

  a {
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    color: #777777;
  }
}

.swiper-title {
  //font-family: Libre Baskerville;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
}

.main-page-content {
  margin-top: 50px;
}

.right-advertising {
  margin-bottom: 25px;
}

.right-videos {
  background: rgba(249, 249, 249, 0.9);
  padding: 20px 0;

  &-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 20px;
    text-align: center;
  }

  &-card:first-of-type {
    margin-top: 0 !important;
  }

  &-img {
    width: 127.84px;
    height: 82.65px;
  }

  &-card {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 38px 15px 0 15px;

    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 13px;
      color: #000000;
      margin-left: 10px;
    }
  }

  &-card:after {
    content: '';
    position: absolute;
    width: 80%;
    bottom: -18px;
    height: 1px;
    background-color: #000000;
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
  }

  &-card:last-of-type:after {
    display: none;
  }
}

.right-advertising-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  flex-wrap: wrap;

  &-card {
    &-half {
      width: 50%;
    }
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-right: 15px;
  min-width: 300px;

  &-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }

  &-comments {
    font-size: 14px;
    line-height: 13px;
    color: #000000;
    display: flex;
    align-items: center;
  }

  &-date {
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    display: flex;
    margin-left: 40px;

    span {
      margin: 0 10px;
    }
  }

  &-setting {
    display: flex;
    margin-left: auto;
    margin-top: 5px;
  }

  &-text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
}

.main-news {
  flex-direction: column;

  span {
    margin-top: 15px;
    width: 88%;
  }
}

.swiper-video {
  height: 270px;
}

.video-js .vjs-big-play-button {
  background-color: #120888 !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -0.75em !important;
  margin-left: -1.5em !important;
  border: none !important;
  width: 81px !important;
  height: 45px !important;
}

.video-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 25px;
  color: #000000;
  margin: 25px 0;
}

.list-news {
  margin-top: 60px;

  &-card {
    margin-bottom: 40px;
    position: relative;

    img {
      margin-right: 10px;
      width: 134.58px;
      height: 74px;
    }

    display: flex;
  }

  &-card:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000000;
    height: 1px;
    margin: auto;
    display: inline-block;
    bottom: -20px;
  }

  &-card:last-of-type:after {
    display: none;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  &-subtitle {
    font-size: 16px;
    line-height: 25px;
    color: #000000;
  }
}

.news-card-btn {
  margin-left: auto;
  display: flex;
  width: fit-content;
  margin-right: 45px;

  span {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    color: #777777;
  }
}

.vs__selected {
  color: #fff !important;
}

.vs__open-indicator {
  path {
    fill: #fff !important;
  }
}

//right-advertising-row
.right-advertising-row {
  height: 100%;
  justify-content: flex-start;
}

.scroll-news {
  height: 80%;
}

.right-videos {
  position: sticky;
  top: 0;
  height: 90vh;
}

.ps__thumb-y {
  background-color: #120888 !important;
}

.main-swiper {
  img {
    width: 100%;
    height: 365.47px;
    object-fit: cover;
  }
}

.video-container {
  margin-top: 50px;

  &-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 25px;
    color: #000000;
  }
}

.virus-map {
  display: flex;
  width: 79%;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  &-image {
    margin: 20px 0;
  }

  &-content {
    background: #120888;
    width: 250px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
  }

  &-table {
    background: rgba(249, 249, 249, 0.9);
    width: 80%;
    margin: 10px auto 20px auto;
  }

  table {
    b {
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }

    span {
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      color: #FF0A0A;
    }
  tr{
    margin: 5px 0;
  }
    td {
      text-align: center;
      font-size: 14px;
      line-height: 25px;
      color: #000000;
    }
  }
}
.main-news{
  img{
    width: 250px !important;
    height: 125px !important;
  }
}
