.news-content {
  &-breadcumbs {
    display: flex;
    align-items: center;

    a {
      font-size: 14px;
      line-height: 34px;
      color: #535353;
      margin-right: 20px;
      position: relative;
    }

    a:after {
      content: '';
      background-image: url("../../static/images/main-page/righ-arrow.svg");
      width: 5px;
      height: 8px;
      position: absolute;
      top: 13px;
      right: -15px;
    }

    a:last-of-type:after {
      display: none;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 20px;
  }

  &-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 95%;

    b {
      font-size: 22px;
      line-height: 120%;
      display: block;
    }

    ul {
      list-style: disc;
    }
  }

  &-date {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-top: 10px;

    .overlay-social {
      span {
        margin-right: 7px;
        cursor: pointer;
      }

      span:hover {
        opacity: 0.8;
      }
    }

    &-item {
      font-size: 14px;
      line-height: 25px;
      color: #000000;
      position: relative;
      margin-right: 20px;
      display: flex;
      align-items: center;

      a {
        color: $color-blue;
      }
    }

    &-item:after {
      content: '';
      position: relative;
      width: 1px;
      height: 50%;
      right: -10px;
      background-color: #000000;
    }

    &-item:last-of-type:after {
      display: none;
    }
  }
}

.news-cards {
  &-date {
    font-size: 10px;
  }

  &-container {
    margin-top: 80px;
  }

  &-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 25px;
    text-align: left;
  }

  &-overlay {
    display: flex;
    justify-content: flex-start;
    
    &__inner {
      border-radius: 3px;
      background-color: #fff;
      padding-bottom: 5px;
      overflow: hidden;
    }

    &__info {
      padding: 0 10px;
    }
  }

  &-item {
    width: 90%;
    display: inline-block;
    margin-right: 20px;

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #000000;
      margin: 0 !important;
      padding: 11px !important;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    &-text {
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }

    &-image {
      position: relative;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}

.overlay-banner {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.news-cards-title {
  margin-top: 25px;
}
.news-page-item {  
  .news-cards-overlay{
    max-width: 950px;
  }
}
.news-item-mobile{
  display: none;
}

@media (max-width: 1300px) {
  .news-cards {
    &-item {
      &-title {
        font-size: 16px;
        line-height: 120%;
      }

      &-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 0 !important;
        margin: 10px;
        height: unset !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .news-card {
    &-image {
      &__infos {
        padding: 5px;

        span {
          font-size: 12px;
        }
      }
    }
  }

  .news-cards {
    &-item {
      &-image {
        img {
          height: 150px;
        }
      }

      &-title {
        font-size: 15px;
      }

      &-text {
        font-size: 14px;
        margin-top: 0;
      }
    }

    &-overlay {
      &__info {
        padding: 0;
      }
    }
  } 
}

@media only screen and (max-width: 760px) {
  .news-item-mobile{
    display: flex;
  }
  .news-page-aside {
    display: none;
  }
  .news-page-item {
    padding: 0 15px;
    .main-page__mobile__news-slider{
      display: block !important;
    }
    .news-content-youtube{
      height: 200px !important;
    }
    .news-content-date-item{
      font-size: 11px;
    }
    .news-cards-title {
      margin-bottom: 0;
    }

    .page__aside {
      display: none;
    }

    .news-content-breadcumbs {
      display: none;
    }

    .news-content-title {
      font-size: 18px;
      line-height: inherit;
      margin-bottom: 10px;
    }

    .news-content-date {
      flex-wrap: wrap;
    }

    .overlay-social {
      margin-bottom: 5px;
    }

    .news-content-text {
      margin-top: 10px;
      width: 100%;
      font-size: 14px;
      line-height: inherit;

      b {
        font-size: 16px;
        line-height: inherit;
      }
    }

    .news-cards-overlay {
      display: none;
    }
  }
  .page__double-main {
    margin-right: 0 !important;
  }
  .news-content-image {
    img {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }
  .news-cards {
    &-item {
      &-text {
        margin-top: 10px;
      }
    }
  }

  .map-page {
    .news-cards {
      &-title {
        margin-bottom: 5px;
      }

      &-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &-image {
          display: none;
        }

        &-title {
          height: unset;
          list-style-type: disc;
          display: list-item;
          list-style-position: inside;
          color: #18456D;
          padding: 0 !important;
        }

        &-text {
          color: #757575;
          margin: 0;
        }
      }

      &-overlay {
        flex-direction: column;

        &__info {
          width: 100%;
        }

        &__inner {
          background: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .news-content {
    &-title {
      font-size: 28px;
      line-height: 120%;
    }
  }
}

@media (max-width: 900px) {
  .news-content {
    &-title {
      font-size: 24px;
      line-height: 120%;
    }
  }
}
