.news-content {
  &-breadcumbs {
    display: flex;
    align-items: center;

    a {
      font-size: 14px;
      line-height: 34px;
      color: #535353;
      margin-right: 20px;
      position: relative;
    }

    a:after {
      content: '';
      background-image: url("../../static/images/main-page/righ-arrow.svg");
      width: 5px;
      height: 8px;
      position: absolute;
      top: 13px;
      right: -15px;
    }

    a:last-of-type:after {
      display: none;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 20px;
  }

  &-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    width: 95%;

    b {
      font-size: 22px;
      line-height: 20px;
    }
  }

  &-date {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-top: 10px;

    .overlay-social {
      span {
        margin-right: 7px;
        cursor: pointer;
      }

      span:hover {
        opacity: 0.8;
      }
    }

    &-item {
      font-size: 14px;
      line-height: 25px;
      color: #000000;
      position: relative;
      margin-right: 20px;
      display: flex;
      align-items: center;
    }

    &-item:after {
      content: '';
      position: relative;
      width: 1px;
      height: 50%;
      right: -10px;
      background-color: #000000;
    }

    &-item:last-of-type:after {
      display: none;
    }
  }
}

.news-cards {
  &-date {
    font-size: 10px;
  }

  &-container {
    margin-top: 80px;
  }

  &-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 25px;
  }

  &-overlay {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: 90%;
    display: inline-block;
    margin-right: 20px;

    &-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin: 15px 0 10px 0;
    }

    &-text {
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }

    &-image {
      img {
        width: 100%;
        height: 140px;
      }
    }
  }
}

.overlay-banner {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.input-mail {
  display: flex;
  width: 550px;
  margin: auto auto 35px auto;

  input {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    border: none;
    text-align: center;
  }

  input::placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }

  a {
    width: 113px;
    height: 30px;
    background: $color-red;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;

    }
  }
}

.news-cards-item{
  max-width: 277px;
}
.news-cards-title {
  margin-top: 25px;
}
.news-page-item {
  .news-cards-overlay{
    max-width: 900px;
  }
}
.news-item-mobile{
  display: none;
}
@media only screen and (max-width: 700px) {
  .news-item-mobile{
    display: flex;

  }
  .news-page-aside {
    display: none;
  }
  .news-page-item {
    padding: 0 15px;
    .main-page__mobile__news-slider{
      display: block !important;
    }
    .news-content-youtube{
      height: 200px !important;
    }
    .news-content-date-item{
      font-size: 11px;
    }
    .news-cards-title {
      margin-bottom: 0;
    }

    .page__aside {
      display: none;
    }


    .news-content-breadcumbs {
      display: none;
    }

    .news-content-title {
      font-size: 18px;
      line-height: inherit;
      margin-bottom: 10px;
    }

    .news-content-date {
      flex-wrap: wrap;
    }

    .overlay-social {
      margin-bottom: 5px;
    }

    .news-content-text {
      margin-top: 10px;
      width: 100%;
      font-size: 14px;
      line-height: inherit;

      b {
        font-size: 16px;
        line-height: inherit;
      }
    }

    .news-cards-overlay {
      display: none;
    }
  }
  .page__double-main {
    margin-right: 0 !important;
  }
  .news-content-image {
    img {
      max-width: 100% !important;
      width: auto !important;
      height: auto !important;
    }
  }

}
