.page {
  &__content {
    margin-top: 25px;
    display: flex;
  }

  &__double-main {
  	width: 100%;
  	margin-right: 20px;
  }

  &__middle {
    width: 100%;
    margin: 0 30px;
  }

  &__aside {
    min-width: 250px;
    max-width: 250px;
  }
}

.sidebar {
  &__sticky {
    position: sticky;
    min-height: 90vh;
    max-height: 90vh;
    top: 80px;
    background: white;
    padding: 10px;
    overflow: hidden;

    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__vertical {
        .sidebar {
          &__sticky {
            &__card {
              &__content {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
              }

              &__bar {
                width: 100%;
              }
            }

            &__img {
              width: 100%;
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }

      &__content {
        display: flex;
        align-items: center;

        &:hover {
          text-decoration-line: underline;
        }
      }

      &__bar {
        margin: 15px 0;
        background: black;
        width: 72%;
        height: 1px;
      }

      span {
        font-size: 12px;
        line-height: 13px;
        align-items: center;
        font-weight: bold;
        color: black;
      }
    }

    &__img {
      width: 55%;
      margin-right: 10px;
    }
  }

  &__videos {
    &__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      margin-bottom: 15px;
    }
  }

  &__right {
    max-height: 90vh;
  }

  &__advertising {
    width: 100%;
    margin-bottom: 20px;
  }
}

.virus-map {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
  }

  &-image {
    width: 100%;
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &-content {
    background: $color-blue;
    width: 250px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
  }

  &__info {
    background: white;
    padding: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    position: relative;
    display: flex;

    &:last-of-type {
      margin-bottom: 25px;
    }

    &__col {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__number {
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;

      &.red {
        color: $color-red;
      }

      &.green {
        color: $color-green;
      }
    }

    &__middle-bar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: black;
      width: 1px;
      height: 80%;
    }
  }

  &-container {
    background: white;
    padding: 10px;
    margin-bottom: 30px;

    .svg-content {
      margin: 0;

      path {
        cursor: default;
      }
    }
  }
}

@media (max-width: 1140px) {
	.page {
		&__aside {
			min-width: 200px;
			max-width: 200px;
		}
	}

	.sidebar {
		&__videos {
			&__title {
				font-size: 16px;
				line-height: 20px;
			}
		}

		&__sticky {
			&__card {
				&__content {
					flex-direction: column;
				}
			}

			&__img {
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}

	.virus-map {
		&-content {
			width: 200px;
			text-align: center;

			span {
				font-size: 15px;
				line-height: 18px;
			}
		}

		&__info {
			&__number {
				font-size: 14px;
				line-height: 16px;
			}
		}

		&-container {
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 1000px) {
	.page {
		&__aside {
			&.left {
				display: none;
			}
		}

		&__middle {
			margin-left: 0;
		}
	}
}

@media (max-width: 800px) {
	.page {
		&__middle {
			margin-right: 20px;
		}
	}
}
