.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 40px;

  button {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 130%;
    margin: 0 5px;
    padding: 0 5px;
    color: #535353;

    &:focus {
      outline: none;
    }
  }

  &__button {
    &.current {
      color: white;
      background: $color-blue;
    }
  }
}
